<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=5, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'fancybox.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.css' | asset_url | stylesheet_tag }}
    <title>{{ page_title }}</title>
</head>
<body>

<div class="preloader"></div>

{% sections 'header-group' %}

<div class="wrapper">
    <div class="base">
        {{ content_for_layout }}
    </div>
    <footer class="footer"></footer>
</div>

<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'show-more-and-less.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'fancybox.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'drop-menu.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
</body>
</html>
