{{ 'featured-product.css' | asset_url | stylesheet_tag }}
{{ 'buttons.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign product = section.settings.product
-%}

<div class="product__container">
    <div class="breadcrumbs js-anim-breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Homepagina</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Bureaus</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Electrisch zit-sta bureau Fuse</a>
            </li>
        </ul>
    </div>
    <div class="product__wrap">
        <div class="product__col_gallery js-fade-el">
            <div class="product_gallery">
                <div class="product_thumb">
                    <div class="swiper product_thumb__slider js-product-thumb">
                        <div class="swiper-wrapper">
                            {% for image in product.images %}
                                <div class="swiper-slide product_thumb__item">
                                    <picture class="product_thumb__pic">
                                        <img class="product_thumb__img" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt | escape }}" loading="eager">
                                    </picture>
                                </div>
                            {% endfor %}
                        </div>


                    </div>
                    <div class="controls">
                        <button type="button" aria-label="btn-prev" class="controls__btn controls__btn--prev js-thumb-btn-prev">
										<span class="controls__icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
												<path d="M11.47,7.72a.75.75,0,0,1,1.06,0l7.5,7.5a.81.81,0,0,1,.17.24.78.78,0,0,1,.07.3.72.72,0,0,1-.06.29.69.69,0,0,1-.41.41.72.72,0,0,1-.29.06.78.78,0,0,1-.3-.07.81.81,0,0,1-.24-.17l-7-7-7,7a.81.81,0,0,1-.24.17.78.78,0,0,1-.3.07.72.72,0,0,1-.29-.06.69.69,0,0,1-.41-.41.72.72,0,0,1-.06-.29.78.78,0,0,1,.07-.3A.81.81,0,0,1,4,15.22Z" fill="currentColor"/>
											</svg>
										</span>
                        </button>
                        <button type="button" aria-label="btn-next" class="controls__btn controls__btn--next js-thumb-btn-next">
										<span class="controls__icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" class="cls-1" d="M12.53,16.28a.75.75,0,0,1-1.06,0L4,8.78a.77.77,0,0,1-.2-.52.75.75,0,0,1,.74-.74.77.77,0,0,1,.52.2l7,7,7-7a.77.77,0,0,1,.52-.2.75.75,0,0,1,.74.74.77.77,0,0,1-.2.52Z"/></svg>
                                            </svg>
										</span>
                        </button>
                    </div>
                </div>

                <div class="swiper product_slider js-product-slider">
                    <div class="swiper-wrapper">
                        {% for image in product.featured_image %}
                            <div class="swiper-slide product_slider__item">
                                <a data-fancybox="gallery" href="{{ image.src | img_url: 'master' }}" class="product_slider__pic">
                                    <img class="product_slider__img" src="{{ image.src | img_url: '800x' }}" alt="{{ image.alt | escape }}" loading="eager">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="controls">
                        <button type="button" aria-label="btn-prev" class="controls__btn controls__btn--prev js-product-btn-prev">
										<span class="controls__icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
												<path d="M11.47,7.72a.75.75,0,0,1,1.06,0l7.5,7.5a.81.81,0,0,1,.17.24.78.78,0,0,1,.07.3.72.72,0,0,1-.06.29.69.69,0,0,1-.41.41.72.72,0,0,1-.29.06.78.78,0,0,1-.3-.07.81.81,0,0,1-.24-.17l-7-7-7,7a.81.81,0,0,1-.24.17.78.78,0,0,1-.3.07.72.72,0,0,1-.29-.06.69.69,0,0,1-.41-.41.72.72,0,0,1-.06-.29.78.78,0,0,1,.07-.3A.81.81,0,0,1,4,15.22Z" fill="currentColor"/>
											</svg>
										</span>
                        </button>
                        <button type="button" aria-label="btn-next" class="controls__btn controls__btn--next js-product-btn-next">
										<span class="controls__icon">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" class="cls-1" d="M12.53,16.28a.75.75,0,0,1-1.06,0L4,8.78a.77.77,0,0,1-.2-.52.75.75,0,0,1,.74-.74.77.77,0,0,1,.52.2l7,7,7-7a.77.77,0,0,1,.52-.2.75.75,0,0,1,.74.74.77.77,0,0,1-.2.52Z"/></svg>
                                            </svg>
										</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__col_content">
            <h1 class="product__title js-fade-el">{{ product.title | escape }}</h1>
            <div class="product__description js-fade-el js-hidden-text-container">
                <div data-max-text="150" data-ellipse-disable="true" class="product__description_text js-hidden-text">
                    <p>Ontgrendel ergonomische uitmuntendheid en verhoog je efficiëntie met onze zit-sta bureau oplossing!</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa</p>
                </div>

                <button type="button" class="show_btn js-hidden-text-btn">Show more</button>
            </div>

            <form action="#" class="product__content_options js-fade-el">
                <div class="product__options_wrap">
                    <fieldset class="product_options">
                        <ul class="product_options__type_list">
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input checked name="radio-1" id="type-1" type="radio" class="options__type_input">
                                    <label for="type-1" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-1.jpeg" alt="color wood 1">
                                </div>
                            </li>
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input name="radio-1" id="type-2" type="radio" class="options__type_input">
                                    <label for="type-2" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-2.jpeg" alt="color wood 2">
                                </div>
                            </li>
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input name="radio-1" id="type-3" type="radio" class="options__type_input">
                                    <label for="type-3" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-3.jpeg" alt="color wood 3">
                                </div>
                            </li>
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input name="radio-1" id="type-4" type="radio" class="options__type_input">
                                    <label for="type-4" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-4.jpeg" alt="color wood 4">
                                </div>
                            </li>
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input name="radio-1" id="type-5" type="radio" class="options__type_input">
                                    <label for="type-5" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-5.jpeg" alt="color wood 5">
                                </div>
                            </li>
                            <li class="product_options__type_item">
                                <div class="options__type_element">
                                    <input name="radio-1" id="type-6" type="radio" class="options__type_input">
                                    <label for="type-6" class="options__type_label"></label>
                                    <img class="options__type_element_bg" src="./img/product-color/color-6.jpeg" alt="color wood 6">
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="product_options">
                        <legend class="product_options__title">Frame</legend>
                        <ul class="product_options__list js-product-options-list">
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="frame" id="frame-1" type="radio" class="options__input">
                                    <label for="frame-1" class="options__label">Aluminium</label>
                                </div>
                            </li>
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="frame" id="frame-2" type="radio" class="options__input">
                                    <label for="frame-2" class="options__label">Zwart</label>
                                </div>
                            </li>
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="frame" id="frame-3" type="radio" class="options__input">
                                    <label for="frame-3" class="options__label">Wit</label>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <fieldset class="product_options">
                        <legend class="product_options__title">Afmeting</legend>
                        <ul class="product_options__list js-product-options-list">
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="afmeting" id="afmeting-1" type="radio" class="options__input">
                                    <label for="afmeting-1" class="options__label">120 x 80</label>
                                </div>
                            </li>
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="afmeting" id="afmeting-2" type="radio" class="options__input">
                                    <label for="afmeting-2" class="options__label">140 x 80</label>
                                </div>
                            </li>
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="afmeting" id="afmeting-3" type="radio" class="options__input">
                                    <label for="afmeting-3" class="options__label">160 x 80</label>
                                </div>
                            </li>
                            <li class="product_options__item">
                                <div class="options__element">
                                    <input name="afmeting" id="afmeting-4" type="radio" class="options__input">
                                    <label for="afmeting-4" class="options__label">180 x 80</label>
                                </div>
                            </li>
                        </ul>

                    </fieldset>
                </div>

                <div class="product__shopping_wrap">
                    <div class="product__price">
                        €300,00
                        <small>€365,00</small>
                    </div>
                    <div class="quantity js-quantity">
                        <button class="quantity__btn js-quantity-decrease" type="button" aria-label="decrease quantity">
											<span>
												<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M15.5 8L0.5 8" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
												</svg>
											</span>
                        </button>
                        <input class="quantity__input js-quantity-input" type="number" name="quantity" min="1" value="1">
                        <div class="quantity__value js-quantity-value">1</div>
                        <button class="quantity__btn js-quantity-increase" type="button" aria-label="increase quantity">
											<span>
												<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M8 0.5L8 15.5M15.5 8L0.5 8" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
												</svg>
											</span>
                        </button>
                    </div>
                    <button type="submit" class="btn_normal product__shopping_btn">
									<span class="lg_icon lg_icon--offset_mod">
										<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.25 3H3.636C4.146 3 4.591 3.343 4.723 3.835L5.106 5.272M5.106 5.272C10.6766 5.11589 16.2419 5.73515 21.642 7.112C20.818 9.566 19.839 11.95 18.718 14.25H7.5M5.106 5.272L7.5 14.25M7.5 14.25C6.70435 14.25 5.94129 14.5661 5.37868 15.1287C4.81607 15.6913 4.5 16.4544 4.5 17.25H20.25M6 20.25C6 20.4489 5.92098 20.6397 5.78033 20.7803C5.63968 20.921 5.44891 21 5.25 21C5.05109 21 4.86032 20.921 4.71967 20.7803C4.57902 20.6397 4.5 20.4489 4.5 20.25C4.5 20.0511 4.57902 19.8603 4.71967 19.7197C4.86032 19.579 5.05109 19.5 5.25 19.5C5.44891 19.5 5.63968 19.579 5.78033 19.7197C5.92098 19.8603 6 20.0511 6 20.25ZM18.75 20.25C18.75 20.4489 18.671 20.6397 18.5303 20.7803C18.3897 20.921 18.1989 21 18 21C17.8011 21 17.6103 20.921 17.4697 20.7803C17.329 20.6397 17.25 20.4489 17.25 20.25C17.25 20.0511 17.329 19.8603 17.4697 19.7197C17.6103 19.579 17.8011 19.5 18 19.5C18.1989 19.5 18.3897 19.579 18.5303 19.7197C18.671 19.8603 18.75 20.0511 18.75 20.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                        In winkelwagen
                    </button>
                    <a href="#" class="product_favorite">
									<span class="lg_icon">
										<svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path d="M21 8.25C21 5.765 18.901 3.75 16.312 3.75C14.377 3.75 12.715 4.876 12 6.483C11.285 4.876 9.623 3.75 7.687 3.75C5.1 3.75 3 5.765 3 8.25C3 15.47 12 20.25 12 20.25C12 20.25 21 15.47 21 8.25Z" stroke="#2c2929" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</span>
                    </a>
                    <div class="product_request">
                        <button type="button" class="btn_normal_transparent product_request__btn">
										<span class="lg_icon lg_icon--offset_mod">
											<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21 15C21 15.5304 20.7893 16.0391 20.4142 16.4142C20.0391 16.7893 19.5304 17 19 17H7L3 21V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</span>
                            Offerte aanvragen
                        </button>
                        <div class="product_request__text">Lorem ipsum dolor</div>
                    </div>
                </div>

                <ul class="sales_points">
                    <li class="sales_points__item">
                        <div class="lg_icon lg_icon--offset_mod">
                            <svg viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17 5.66667L9 1L1 5.66667M17 5.66667L9 10.3333M17 5.66667V13.6667L9 18.3333M1 5.66667L9 10.3333M1 5.66667V13.6667L9 18.3333M9 10.3333V18.3333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <span>Gratis bezorging vanaf €275,- incl. BTW</span>
                    </li>
                    <li class="sales_points__item">
                        <div class="lg_icon lg_icon--offset_mod">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.33333 12.6667L11.3333 14.6667L14.6667 10M20 12C20 13.0506 19.7931 14.0909 19.391 15.0615C18.989 16.0321 18.3997 16.914 17.6569 17.6569C16.914 18.3997 16.0321 18.989 15.0615 19.391C14.0909 19.7931 13.0506 20 12 20C10.9494 20 9.90914 19.7931 8.93853 19.391C7.96793 18.989 7.08601 18.3997 6.34315 17.6569C5.60028 16.914 5.011 16.0321 4.60896 15.0615C4.20693 14.0909 4 13.0506 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84285 9.87827 4 12 4C14.1217 4 16.1566 4.84285 17.6569 6.34315C19.1571 7.84344 20 9.87827 20 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <span>Gratis montageservice</span>
                    </li>
                    <li class="sales_points__item">
                        <div class="lg_icon lg_icon--offset_mod">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.07627 17.422C9.07627 17.7585 8.94256 18.0813 8.70457 18.3193C8.46657 18.5573 8.14378 18.691 7.8072 18.691C7.47063 18.691 7.14784 18.5573 6.90984 18.3193C6.67185 18.0813 6.53814 17.7585 6.53814 17.422M9.07627 17.422C9.07627 17.0854 8.94256 16.7626 8.70457 16.5246C8.46657 16.2866 8.14378 16.1529 7.8072 16.1529C7.47063 16.1529 7.14784 16.2866 6.90984 16.5246C6.67185 16.7626 6.53814 17.0854 6.53814 17.422M9.07627 17.422H14.1525M6.53814 17.422H4.95181C4.69938 17.422 4.45729 17.3217 4.27879 17.1432C4.10029 16.9647 4.00002 16.7226 4.00002 16.4702V13.6148M14.1525 17.422H16.0561M14.1525 17.422V13.6148M4.00002 13.6148V7.15525C3.99867 6.92358 4.08332 6.69965 4.23757 6.52679C4.39183 6.35394 4.60473 6.24445 4.83506 6.21953C7.65495 5.92682 10.4976 5.92682 13.3175 6.21953C13.7955 6.2686 14.1525 6.6747 14.1525 7.15525V7.96576M4.00002 13.6148H14.1525M18.5942 17.422C18.5942 17.7585 18.4605 18.0813 18.2225 18.3193C17.9845 18.5573 17.6617 18.691 17.3252 18.691C16.9886 18.691 16.6658 18.5573 16.4278 18.3193C16.1898 18.0813 16.0561 17.7585 16.0561 17.422M18.5942 17.422C18.5942 17.0854 18.4605 16.7626 18.2225 16.5246C17.9845 16.2866 17.6617 16.1529 17.3252 16.1529C16.9886 16.1529 16.6658 16.2866 16.4278 16.5246C16.1898 16.7626 16.0561 17.0854 16.0561 17.422M18.5942 17.422H19.546C20.0714 17.422 20.5012 16.9956 20.4682 16.471C20.2982 13.6771 19.3573 10.9849 17.7499 8.69336C17.5968 8.4787 17.3969 8.30165 17.1653 8.1756C16.9337 8.04955 16.6765 7.9778 16.4131 7.96576H14.1525M14.1525 7.96576V13.6148" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <span>Levering binnen 5-10 werkdagen</span>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<script>

    const slider = () => {
        const SELECTORS = {
            mainSlider: '.js-product-slider',
            nextBtn: '.js-product-btn-next',
            prevBtn: '.js-product-btn-prev',
            thumbSlider: '.js-product-thumb',
            nextBtnThumb: '.js-thumb-btn-next',
            prevBtnThumb: '.js-thumb-btn-prev',
        }

        const $mainSlider = document.querySelector(SELECTORS.mainSlider);
        const $thumbSlider = document.querySelector(SELECTORS.thumbSlider);
        if (!$mainSlider || !$thumbSlider) return;

        Fancybox.bind('[data-fancybox="gallery"]', {
            on: {
                'Carousel.change': (fancybox, carousel, slide) => {
                    swiperMain.slideTo(slide);
                },
            },
        });

        const swiperThumb = new Swiper($thumbSlider, {
            loop: false,
            spaceBetween: 8,
            slideToClickedSlide: true,
            freeMode: true,
            direction: "vertical",
            slidesPerView: 3,
        });

        const swiperMain = new Swiper($mainSlider, {
            loop: false,
            freeMode: true,
            zoom: false,
            thumbs: {
                swiper: swiperThumb
            },

            navigation: {
                nextEl: SELECTORS.nextBtn,
                prevEl: SELECTORS.prevBtn,
            },
        });

        const $nextBtnThumb = document.querySelector(SELECTORS.nextBtnThumb);
        const $prevBtnThumb = document.querySelector(SELECTORS.prevBtnThumb);

        if ($nextBtnThumb && $prevBtnThumb) {
            $nextBtnThumb.addEventListener('click', () => swiperMain.slideNext());
            $prevBtnThumb.addEventListener('click', () => swiperMain.slidePrev());
        }
    };

    document.addEventListener("DOMContentLoaded", () => {
        slider();
        const productData = {{ section.settings.product | json | escape }};
        console.log(productData);
    });
</script>


{% schema %}
{
    "name": "Featured product custom",
    "class": "section product",
    "tag": "section",
    "disabled_on": {
            "groups": ["header", "footer"]
        },
    "settings": [
            {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product-custom.settings.product.label"
        }
    ],
    "blocks": [
        {
        "type": "title",
        "id": "title_id",
        "limit": 1,
        "default": "Head title",
        },
        {
        "type": "price",
        "name": "t:sections.featured-product-custom.blocks.price.name",
        "limit": 1
        }
    ],
    "presets": [
        {
        "name": "Featured product custom",
        "blocks": [
            {
            "type": "text",
            "settings": {
                "text": "{{ section.settings.product.vendor }}",
                "text_style": "uppercase"
                }
            },
            {
            "type": "title"
            },
            {
            "type": "price"
            },
            {
            "type": "variant_picker"
            },
            {
            "type": "quantity_selector"
            },
            {
            "type": "buy_buttons"
            },
        ]
        }
    ]
}
{% endschema %}

