{{ 'tiktok-section.css' | asset_url | stylesheet_tag }}

<!-- <h2> {{ section.settings.heading }}</h2> -->

<div class="section-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b" style="background-color:#c9dab9; padding: 60px;  background-image: ;">
	<div class="page-width section-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b-settings">
		<div class="Heading-box">
          <!-- Heading Text -->
			<h2 class="multicolumns-title-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">{{ section.settings.heading }}</h2> 
          <!-- Button Text -->
          <a class="tiktok-button" href="default.asp" target="_blank">{{ section.settings.button-text }}</a>
		</div>
	  <!-- <h2 class="multicolumns-title-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Video Tutorials</h2> <a class="tiktok-button" href="default.asp" target="_blank">This is a link</a> -->
	  <!-- <p class="multicolumns-text-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Feel the difference</p> -->
	  <div class="multicolumns-items-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
		<div class="multicolumns-item-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
		  <div id="multicolumns-item-video" class="multicolumns-item-video-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
			{{
            section.settings.tiktok-video-1
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
			  
		  </div>
		  <h3 class="multicolumns-item-title-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">{{ section.settings.tiktok-video-1-text }} </h3>
		  <!-- <p class="multicolumns-item-text-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
		  <!-- <a href="/collections/mugs" class="multicolumns-item-link-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Column Link</a> -->
		</div>
		<div class="multicolumns-item-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
		  <div id="multicolumns-item-video" class="multicolumns-item-video-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
		{{
            section.settings.tiktok-video-2
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
		  </div>
		  <h3 class="multicolumns-item-title-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">{{ section.settings.tiktok-video-2-text }}</h3>
		  <!-- <p class="multicolumns-item-text-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
		  <!-- <a href="/pages/bonbon-bundle" class="multicolumns-item-link-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Column Link</a> -->
		</div>
		<div class="multicolumns-item-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
		  <div id="multicolumns-item-video" class="multicolumns-item-video-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">
			{{
            section.settings.tiktok-video-3
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: true,
              muted: false
          }}
		  </div>
		  <h3 class="multicolumns-item-title-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b"> {{ section.settings.tiktok-video-3-text }}</h3>
		  <!-- <p class="multicolumns-item-text-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
		  <!-- <a href="" class="multicolumns-item-link-template--19161556386121__317e6ce6-10df-458a-886d-42c48ab47b6b">Column Link</a> -->
		</div>
	  </div>
	 
  


{% schema %}
  {
    "name": "Tik-Tok",
    "presets":[
{
    "category": "Profile",
    "name": "Tik-Tok"
}
],
    "settings":[
      {
        "type": "text",
        "label": "your headline for the section",
        "default": "TikTok Videos",
        "id": "heading"
      },
      {
       "type": "text",
        "label": "Button Text",
        "default": "Button Text",
        "id": "button-text" 
      },
    {
      "type": "video",
      "id": "tiktok-video-1",
      "label": "TikTok Video 1"
    },
        {
        "type": "text",
        "label": "TikTok Video 1 Text",
        "default": "Enter Text Here",
        "id": "tiktok-video-1-text"
      },
      {
      "type": "video",
      "id": "tiktok-video-2",
      "label": "TikTok Video 2"
    },
      {
        "type": "text",
        "label": "TikTok Video 2 Text",
        "default": "Enter Text Here",
        "id": "tiktok-video-2-text"
      }, {
      "type": "video",
      "id": "tiktok-video-3",
      "label": "TikTok Video 3"
    },
      {
        "type": "text",
        "label": "TikTok Video 3 Text",
        "default": "Enter Text Here",
        "id": "tiktok-video-3-text"
      }
    ]
   
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
